@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
header {
  background: url(/images/manaz-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .apple {
  width: 80px;
  height: 22px;
  margin-top: 160px;
}

header .google {
  width: 60px;
  height: 20px;
}

content .map {
  background: url(/images/Map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 250px;
}

content .storytelling {
  text-align: justify;
  padding: 15px;
}

content .storytelling h3 {
  margin-top: 30px;
}

content .storytelling p {
  margin-bottom: 30px;
}

content .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

content .newsletter input {
  margin-top: 10px;
  width: 192px;
  height: 25px;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(255, 136, 0, 0.788));
          filter: drop-shadow(0px 0px 2px rgba(255, 136, 0, 0.788));
  border: solid 1px #ff8800;
  border-radius: 5px;
}

content .newsletter button {
  width: 86px;
  height: 25px;
  background: linear-gradient(274.12deg, #FF8A00 -17.16%, #FFD600 135.88%);
  -webkit-box-shadow: 0px 0px 45px rgba(255, 138, 0, 0.3);
          box-shadow: 0px 0px 45px rgba(255, 138, 0, 0.3);
  border-radius: 5px;
  border: #FF8A00;
  color: #FFFFFF;
}

content .arguments {
  margin-top: 45px;
  background: linear-gradient(269.59deg, #FFD600 0.12%, #FF8A00 79.15%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

content .arguments .rapide,
content .arguments .securise,
content .arguments .carte,
content .arguments .evenement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

content .arguments .carte,
content .arguments .evenement {
  margin-bottom: 30px;
}

content .arguments h3 {
  color: white;
}

content .arguments svg {
  padding: 5px;
  color: white;
  width: 50px;
}

content .reseaux {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(96.09deg, #ffab4b 2.58%, #FF8A00 100%);
}

content .reseaux svg {
  width: 30px;
  color: #ffffff;
}

content .partenaires {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

content .partenaires img {
  width: 50px;
}

footer {
  background: linear-gradient(96.09deg, #FFD600 2.58%, #FF8A00 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: inherit;
}

body h3,
body h2,
body h1,
body p,
body header {
  margin: 0;
  font-family: 'Alata', sans-serif;
}
/*# sourceMappingURL=main.css.map */