@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
// ================    RESET  ==========================
@import "global/colors";
@import "components/header";
@import "components/content";



// ====== RESET ===== 
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;


  a {
    transition: 0.2s;
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    transition: 0.3s;
    opacity: 0.7;
  }


  h4,
  h3,
  h2,
  h1,
  p,
  header {
    margin: 0;
    font-family: 'Alata', sans-serif;
  }
}


