content {

    .map {
        background: url(/images/Map.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        height: 250px;
        position: relative;

        img {
            width: 200px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .storytelling {
        text-align: justify;
        padding: 15px;

        h3 {
            margin-top: 30px;
        }

        p {
            margin-bottom: 30px;
        }
    }



    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        input {
            font-family: 'Alata', sans-serif;
            margin-top: 10px;
            width: 192px;
            height: 25px;
            filter: drop-shadow(0px 0px 2px rgba(255, 136, 0, 0.788));
            border: solid 1px rgb(255, 136, 0);
            border-radius: 5px;
        }

        button {
            width: 86px;
            height: 25px;
            background: linear-gradient(274.12deg, #FF8A00 -17.16%, #FFD600 135.88%);
            box-shadow: 0px 0px 45px rgba(255, 138, 0, 0.3);
            border-radius: 5px;
            border: #FF8A00;
            color: #FFFFFF;
        }
    }


    .arguments {
        margin-top: 45px;
        background: linear-gradient(269.59deg, #FFD600 0.12%, #FF8A00 79.15%);
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);

        .rapide,
        .securise,
        .carte,
        .evenement {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .carte,
        .evenement {
            margin-bottom: 30px;
        }

        h3 {
            color: white;
        }

        svg {
            padding: 5px;
            color: white;
            width: 50px;
        }
    }



    .space-avis{
        margin-top: 45px;
        text-align: center;
        padding: 10px;

        h2 {
            margin-bottom: 20px;
            color: $orange;
        }
        
        .avis {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            
            
            img {
                width: 50px;
                border-radius: 50%;
            }
            
            h4 {
                margin: 5px;
                color: $orange;
            }
        }
    }




    .reseaux {
        margin-top: 30px;
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // background: linear-gradient(96.09deg, #ffab4b 2.58%, #FF8A00 100%);

        svg {
            color: #FF8A00;
            width: 30px;
            // color: #ffffff;
        }
    }

    .partenaires {
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 50px;
        }

    }


}

#button_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
    z-index: 1;

    a {

        svg {
            width: 40px;
            color: #ff880081;
        }
    }
}