.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    background-color: black;
    z-index: 9999;
    // visibility: hidden;
    // opacity: 0;
    transition: bottom 200ms ease-in-out 1000ms;
}

.isLoading {
    .loader {
        bottom: 0;
        // visibility: visible;
        // opacity: 1;
    }
}


header {
    background: url(/images/manaz-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;

    .stores {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 10px;
        left: 38%;

        a {
            img {
                width: 40%;
            }

        }
    }


}


merci {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .merci {
        color: $orange;
        text-align: center;
        margin-top: 50px;


    }

    .retour-site {
        margin-top: 50px;
        width: 120px;
        height: 35px;
        background: linear-gradient(274.12deg, $orange -17.16%, $jaune 135.88%);
        box-shadow: 0px 0px 45px rgba(255, 138, 0, 0.3);
        border-radius: 5px;
        border: $orange;
        color: #FFFFFF;
    }
}


// Responsive Grid Media Queries - 1280, 1024, 768, 480
// 1280-1024 - desktop (default grid)
// 1024-768 - tablet landscape
// 768-480 - tablet 
// 480-less - phone landscape & smaller
// --------------------------------------------*/


// tablette
@media all and (min-width: 480px) and (max-width: 768px) {
    header {
        height: 50vh;

        .stores {
            left: 42%;
        }
    }
}

// tablette ipad pro
@media all and (min-width: 769px) and (max-width: 1024px) {
    header {
        height: 100vh;

        .stores {
            left: 43%;
        }
    }
}

// desktop
@media all and (min-width: 1025px) and (max-width: 1280px) {
    header {
        height: 100vh;

        .stores {
            left: 45%;
        }
    }



}

// large desktop
@media all and (min-width: 1281px) {
    header {
        height: 100vh;

        .stores {
            left: 45%;
        }
    }
}